node_modules
dist
.env.prod
/generated/prisma
InR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBodmhub3R1Y2F0b2RqbXF3b3htIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMzNzk2NCwiZXhwIjoyMDg4OTEzOTY0fQ.ebVHH-mNOME1Be0Z_pMqs0pcmIXffwuRyuFWg7Pku0E' 
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
config.bat
